body {
    background-image: url(../images/space_bg_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px 1080px;
}

.navbar .navbar-brand {
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-size: xx-large;
    color: rgb(102, 102, 102);
}

.bg-dark {
    color: rgb(235, 235 , 235);
    justify-content: center;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: rgba(253, 245, 239, .9);
    text-align: center;
    border-radius: 5rem;
    color: rgb(102, 102, 102);
}

h1, h3, h4 {
    font-family: 'Anton', sans-serif;
}

.title {
    font-family: 'Anton', sans-serif;
    font-size: x-large;
    color: rgb(102, 102, 102);
}

.legend-dot, .legend-dataset-text {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: rgb(102, 102, 102);
}

label, p, ul, input {
    font-family: 'Montserrat', sans-serif;
}

.form-control {
    width: 40%;
    border-radius: 0rem;
    display: inline-block;
}

.form-control:focus{
    display: inline-block;
}

.create-category {
    padding-bottom: 5%;
}

.edit {
    background-color: rgba(0, 255, 255, .2);
}

.edit:hover {
    background-color: rgb(0, 255, 255);
}

.remove {
    background-color: rgba(255, 98, 71, .2);
}

.remove:hover {
    background-color: rgb(255, 98, 71);
}

.modal-content {
    border-radius: 3rem;
    background-color: rgba(253, 245, 239, .9);
    font-family: 'Montserrat', sans-serif;
}

.modal-title {
    font-family: 'Anton', sans-serif;
}

.btn {
    border-radius: 0rem;
    color: black;
}

.btn-secondary {
    background-color: rgba(255, 98, 71, .2);
}

.btn-secondary:hover {
    background-color: rgb(255, 98, 71);
    color: black;
}

.btn-primary {
    background-color: rgba(0, 255, 255, .2);
}

.btn-primary:hover {
    background-color: rgb(0, 255, 255);
    color: black;
}