body {
    background-image: url(../images/inventory_background_alt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar .navbar-brand {
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-size: xx-large;
    color: rgb(46, 34, 27);
}

.bg-dark {
    background-image: url(../images/cardboard-box.jpg);
    padding: 1.5rem;
    justify-content: center;
    margin-bottom: 30px;
}

.jumbotron {
    text-align: center;
    border-radius: 0rem;
    color: rgb(46, 34, 27);
    background-image: url(../images/cardboard-box.jpg);
}

h1, h3, h4 {
    font-family: 'Anton', sans-serif;
}

label, p, ul, input {
    font-family: 'Montserrat', sans-serif;
}

p, ul, input, button {
    background-color: khaki;
}

.form-control {
    width: 40%;
    border-radius: 0rem;
    background-color: khaki;
    border: 1px solid black;
    display: inline-block;
}

.form-control:focus{
    background-color: khaki;
    border: 1px solid black;
    display: inline-block;
}

.create-category {
    padding-bottom: 5%;
}